<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MultipleTargetProject.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MultipleTargetProjectBrDemand.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MultipleTargetProjectPressure.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MultipleTargetProjectSit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MultipleTargetProjectUat.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE43C26D25675BC1001FCB6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE43C28825675BC1001FCB6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE43C29325675BC1001FCB6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE43C40525675E86001FCB6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE43C41D25675E92001FCB6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE43C43725675E9B001FCB6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE43C45325675EA4001FCB6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
