{
  "notice": "This file is maintained by MPaaS automatically.",
  "project": "MultipleTargetMPaasProject",
  "copy": false,
  "targets": {
    "MultipleTargetMPaasProject": {
      "author": "VanZhang",
      "time": "2020/11/20 09:26:51",
      "versions": {
        "mPaaS_LocalLog": {
          "APLog": "3.0.2.200619152113"
        },
        "mPaaS_MobileFramework": {
          "APMobileFramework": "1.0.0.201019140541",
          "mPaas": "1.0.0.201103172349",
          "APLog": "3.0.2.200619152113",
          "APRemoteLogging": "1.0.0.201104102245",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.200228175209"
        },
        "mPaaS_UTDIDLib": {
          "UTDID": "1.0.2.190226130141"
        }
      },
      "baseline": "10.1.68",
      "pversion": "20",
      "custom": false,
      "frameworks": [
        "APLog.framework",
        "APMobileFramework.framework",
        "mPaas.framework",
        "APRemoteLogging.framework",
        "UTDID.framework",
        "APProtocolBuffers.framework"
      ],
      "resources": [
        "APMobileFramework.bundle",
        "APRemoteLogging.bundle"
      ]
    }
  },
  "recent": "MultipleTargetMPaasProject"
}