{
	"appId":"CE92CD5241036",
	"appKey":"CE92CD5241036_IOS",
	"base64Code":"",
	"bundleId":"com.gdrcu.ifcc",
	"rootPath":"mpaas/ios/CE92CD5241036-default",
	"workspaceId":"default",
	"pushPort":"10000",
	"pushGW":"mpaas-mps-test.gdrcu.com",
	"syncport":"10001",
	"syncserver":"mpaas-mss-test.gdrcu.com"
}